* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,
body {
	height: 100%;
	font-size: 62.5%;
}

body {
  background-color: tomato;
  color: #ffffff;
  box-sizing: border-box;
}

.page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	width: 100%;
  max-width: 1280px;
  margin: auto;
}
/********************** header styles start ***************************/
.header {
	padding: 2rem 0;
	margin-bottom: 3rem;
	border-bottom: 5px solid #f9f96a;
}
.header__inner {
  display: flex; 
	justify-content: space-between;
	align-items: center;
}

.header__title {
  font-size: 4rem;
	font-weight: 300;
	color: #000000;
}

.header__title>i {
	color: #f9f96a;
}


.header__search-box>i {
  color: black;
  position: absolute;
  cursor: pointer;
  top: 25%;
  right: 0;
	font-size: 2rem;
  transition: 1s;
} */


.header__input {
	font-size: 2rem;
}

.main {
	flex: 1 1 auto;
}

/* *************************main ****************************** */

h1 {
	text-align: center;
	margin: 2rem auto 5rem;
	font-size: 3rem;
	font-weight: 600;
}

#search-result {
 width: 80%;
 margin: 10rem auto 5rem;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 3rem;
}

#search-result img {
	width: 100%;
	height: 25rem;
	object-fit: cover;
	border-radius: 0.5rem;
}


form {
	width: 90%;
	max-width: 50rem;
	height: 6rem;
	margin: auto;
	background-color: #434989;
	display: flex;
	align-items: center;
	border-radius: 0.8rem;
}

form>input {
	flex: 1;
	height: 100%;
	border: 0;
	outline: 0;
	background-color: transparent;
	color: #ffffff;
	font-size: 1.8rem;
	padding: 0 3rem;
}

form>button {
	height: 100%;
	padding: 0 4rem;
	background-color: #ff3929;
	color: #ffffff;
	font-size: 1.8rem;
	border: 0;
	outline: 0;
	border-top-right-radius: 0.8rem;
	border-bottom-right-radius: 0.8rem;
	cursor: pointer;
}

::placeholder {
	color: #ffffff;
	font-size: 1.8rem;
}

#show-more-btn {
	background-color: #ff3929;
	color: #ffffff;
	font-size: 1.6rem;
	border: 0;
	outline: 0;
	padding: 1rem 2rem;
	border-radius: 0.4rem;
	margin: 1rem auto 10rem;
	cursor: pointer;
	display: none;
}
/* ********************** footer styles start ********************** */
.footer {
	padding: 2rem 0;
	background-image: linear-gradient(#ff6347, #f9f96a);
 }
 
 
 .footer__inner {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
 }
 
 .footer__image {
	 width: 10rem;
 }
 
 .footer__link {
	 text-decoration: none;
	 font-size: 3rem;
	 color: #000000;
	 transition: 1s opacity ease;
 }
 
 .footer__link:hover {
	 opacity: 0.3;
 }
 
 .footer__year {
	 font-size: 3rem;
	 color: #000000;
 }